<nav class="flex items-center justify-between flex-wrap px-5 py-3 border-[#5b92e5] border-b-4">
    <a href="/" class="tracking-tight font-black text-[#5b92e5]">
      UUN
    </a>
  
    {% set navPages = collections.all | eleventyNavigation %}
    <ul>
      {% for entry in navPages %}
        <li class="inline">
          <a
           href="{{ entry.url }}"
           class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
           {{'font-extrabold text-black hover:text-black ' if entry.url in page.url
           else 'text-gray-600 hover:text-gray-900 hover:font-extrabold transition-[font-weight] ease-in-out'}}">
           {{ entry.title }}
         </a>
        </li>
      {% endfor %}
    </ul>
</nav>