<div class="alert info">
    <div style="padding: 5px;">This page is only available for Level 3 security clearance holders; please enter valid credentials to access the page.</div>
    <div style="padding: 10px;">
        <div id="1" style="border: 2px solid black; border-radius: 10px; padding: 5px; width: 25%; background: white; color: gray;" onclick="passcode()">
            Enter your username
        </div>
    </div>
    <div id="2" style="font-weight: bold; display: none; padding: 10px;">
        <div id="2a" style="border: 2px solid black; border-radius: 10px; padding: 5px; width: 25%; background: white; color: gray;" onclick="myFunction()">
            Enter your passcode
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    {{ text }}
</div>

<script>
    function passcode() {
        document.getElementById("1").innerHTML = "██████████";
        document.getElementById("1").style.background = "#e1e1e1";
        document.getElementById("2").style.display = "block";
    }

    function myFunction() {
        document.getElementById("2a").innerHTML = "Passcode autofilled.";
        document.getElementById("2a").style.background = "#e1e1e1";
        document.getElementById("content").style.display = "block";
    }
</script>