---
title: World of Shittery
layout: layouts/world.njk
---
<nav class="breadcrumb">
    <ul>
        <li><a href="/docs">Documents</a></li>
        <li><a href="/docs/world">Worlds</a></li>
        <li><b>Shittery</b></li>
    </ul>
</nav>
<hr>

<div class="alert info">
    <div style="padding: 5px;">This page is only available for Level 3 security clearance holders; please enter valid credentials to access the page.</div>
    <div style="padding: 10px;">
        <div id="1" style="border: 2px solid black; border-radius: 10px; padding: 5px; width: 25%; background: white; color: gray;" onclick="passcode()">
            Enter your username
        </div>
    </div>
    <div id="2" style="font-weight: bold; display: none; padding: 10px;">
        <div id="2a" style="border: 2px solid black; border-radius: 10px; padding: 5px; width: 25%; background: white; color: gray;" onclick="myFunction()">
            Enter your passcode
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <p style="font-weight: bold;">
        Welcome, ██████████!
    </p>
    <hr>
    <div class="alert danger">
        This page is protected under C/GAR 0002, which is the Research Espionage Act. Any attempt to release this document to anyone outside of the UUN, will result in termination.
    </div>
    <div class="alert info">
        Classification: <span style="color:darkred;">Stage 0 - Hazardous</span><br>
        Frequency: [REDACTED]
    </div>

    <h2>Abstract</h2>
    <p>The <b>World of Shittery</b> is a hazardous world in the ██ Cluster. The beings from the world have multiple forms depending on the viewer. Some assume that the beings are blobs with flags and two eyes, known as "countryballs." Others view them as national personifications.</p>

    <p>The World of Shittery due to it's "psychedelic abstract-ness" caused researchers to breakdown into depression, anxiety and in some causes suicide. Because of this, in October 27th, 1996, the UUN has decided to end all operations in the World of Shittery, due to hazardous conditions.</p>

    <p>On May 3rd, 2002, the UUN decided that a swarm of audio-receiving mechanical flies would be released to the World of Shittery to monitor the different "nations."</p>
</div>

<script>
    function passcode() {
        document.getElementById("1").innerHTML = "██████████";
        document.getElementById("1").style.background = "#e1e1e1";
        document.getElementById("2").style.display = "block";
    }

    function myFunction() {
        document.getElementById("2a").innerHTML = "Passcode autofilled.";
        document.getElementById("2a").style.background = "#e1e1e1";
        document.getElementById("content").style.display = "block";
    }
</script>