<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
            <hr>
            <h1>United Universal Nations Documents</h1>
            <hr>
        </center>
        <div>
            {{ content | safe }}
        </div>
    </body>
</html>