<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <center>
            <hr>
            <h1>The United Universal Nations</h1>
            <h3>"Uniting worlds since 1987!"</h3>
        </center>
        <h4 class="marquee">
            <b>Alphat</b> - 
            <b>Aztrax</b> - 
            <b>Werbia</b> - 
            <b>Laytr</b> - 
            <b>Zogod</b> - 
            <b>The Darkest World</b> - 
            <b>Ralphat</b>
        </h4>
        <center>
            <hr>
        </center>
        <div>
            {{ content | safe }}
        </div>
    </body>
    <script type="module" src="/assets/js/easteregg.js"></script>
</html>