<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        {% include "../components/navbar.njk" %}
        <main class="px-8 py-6 sm:px-12">
            {{ content | safe }}
        </main>
    </body>
    <script type="module" src="/assets/js/easteregg.js"></script>
</html>