<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body id="bdy" class="transition-all ease-in-out min-h-[100vh] flex flex-col justify-between">
    {% set navPages = collections.all | eleventyNavigation %}

    <div>
        <nav class="navbar bg-base-300">
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-xl" href="/">UUN</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal p-0">
                    {% for entry in navPages %}
                    <li>
                        <a href="{{ entry.url }}" class="btn btn-ghost">
                            {{ entry.title }}
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <button style="mr-4 text-sm py-1 px-2 rounded" onclick="you()" data-toggle-theme="dark,light"
                            data-act-class="ACTIVECLASS">
                            <span id="icon">??</span>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="px-8 py-6 sm:px-12">
            {{ content | safe }}
        </main>
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <div>
            <p>Provided by the United Universal Nations.</p>
        </div>
    </footer>
</body>
<script type="module" src="/assets/js/easteregg.js"></script>
<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
<script>

    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.getElementById("bdy").classList.add('dark')
        document.getElementById("icon").innerHTML = "✨"
    } else {
        document.getElementById("bdy").classList.remove('dark')
        document.getElementById("icon").innerHTML = "☀️"
    }

    function you() {
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            localStorage.theme = 'light'
            document.getElementById("bdy").classList.remove('dark')
            document.getElementById("icon").innerHTML = "☀️"
        } else {
            localStorage.theme = 'dark'
            document.getElementById("bdy").classList.add('dark')
            document.getElementById("icon").innerHTML = "✨"
        }
    }
</script>

</html>