<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    </head>
    <body>
        <center>
            <hr>
            <h1>United Universal Nations Documents - Protocol</h1>
            <hr>
        </center>
        <div span="padding:10px">
            {{ content | safe }}
        </div>
    </body>
</html>