html,body {
    overflow-x:hidden;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

.breadcrumb {
    padding: 10px .5rem;
    font-size: smaller;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}