---
title: Search
layout: layouts/index.njk
permalink: /search/
eleventyNavigation:
  key: Search
  order: 2
---
{% block content %}
<div class="text-center"><h1>Search</h1></div>
<div class="form-control w-full max-w-xs">
  <label class="label">
    <span class="label-text">Search</span>
  </label>
  <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs " id="searchField" />
  <label class="label">
    <span class="label-text-alt">Powered by <a class="text-red-500" href="https://www.npmjs.com/package/elasticlunr">AlphaSearch by AlphaCorp.</a></span>
  </label>
  <label class="label cursor-pointer">
    <span class="label-text"><div class="badge badge-success font-extrabold">🌍 Worlds</div></span> 
    <input type="checkbox" class="toggle" id="world" checked />
  </label>
  <label class="label cursor-pointer">
    <span class="label-text"><div class="badge font-extrabold">💬 Posts / Documents</div></span> 
    <input type="checkbox" class="toggle" id="post" checked />
  </label>
  <label class="label cursor-pointer">
    <span class="label-text"><div class="badge badge-warning font-extrabold">❗️ Protocols</div></span> 
    <input type="checkbox" class="toggle" id="protocol" checked />
  </label>
  <label class="label cursor-pointer">
    <span class="label-text"><div class="badge badge-info font-extrabold">🧭 Navigation</div></span> 
    <input type="checkbox" class="toggle" id="navigation" checked />
  </label>
</div>
<div class="divider"></div>
<ol class="list-decimal" id="searchResults"></ol>
<div id="noResultsFound" style="display: none">
  <p>No results found.</p>
</div>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>
<script type="module" src="/assets/js/search.js"></script>
{% endblock %}