---
title: World
layout: layouts/world.njk
permalink: /docs/world/
---

<b>Worlds</b>
<ul>
    <li>
        <a href="/docs/world/alphat/" style="color:#0c0; font-weight: bold; text-decoration: none">Alphat</a>
    </li>
</ul>

<b>Worlds In Research</b>
<ul>
    <li>
        <a href="/docs/world/alphat/" style="color:orange; font-weight: bold; text-decoration: none;">Kelais</a>
    </li>
</ul>